name: build
on: [push, pull_request]
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - ruby: 3.4
            os: ubuntu-latest
          # - ruby: 3.2
          #   os: windows-latest
    runs-on: ${{ matrix.os }}
    timeout-minutes: 40
    steps:
      - uses: actions/checkout@v5
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            tmp
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      # https://github.com/oxidize-rb/rb-sys/issues/268
      - if: ${{ startsWith(matrix.os, 'windows') }}
        run: echo "RUST_TARGET=x86_64-pc-windows-gnu" >> "$env:GITHUB_ENV"
      - run: bundle exec rake compile
      - run: bundle exec rake test
      - run: bundle exec yard --fail-on-warning
      - run: bundle exec rake test:docs

      - uses: ankane/setup-postgres@v1
        with:
          database: polars_ruby_test
      - run: ADAPTER=postgresql ruby test/database_test.rb

      - uses: ankane/setup-mysql@v1
        with:
          database: polars_ruby_test
      - run: ADAPTER=mysql ruby test/database_test.rb
      - run: ADAPTER=trilogy ruby test/database_test.rb
