name: build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            tmp
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4
          bundler-cache: true
      - run: bundle exec rake compile
      - run: bundle exec rake test
      - run: bundle exec yard --fail-on-warning
      - run: bundle exec rake test:docs

      - uses: ankane/setup-postgres@v1
      - run: ADAPTER=postgresql ruby test/database_test.rb

      - uses: ankane/setup-mysql@v1
      - run: ADAPTER=mysql ruby test/database_test.rb
